body {
    background-color: aquamarine;
    text-align: center;
}

table {
  border-collapse: collapse;
  border: 3px solid purple;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid purple;
}

.like-red-button {
    background-color: lightcoral;
    padding: 10px;
    display: inline-block;
    color: black;
}

.like-red-button:hover {
    background-color: blueviolet;
}

h1 {
    color: red;
    text-align: center;
}

div.nav-bar {
  text-align: end;
}

div.nav-bar a {
  text-align: end;
  font-size: larger;
  padding: 10px;
}

.text-start {
  text-align: start;
}
